<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControleurCompteProfile</servlet-name>
        <servlet-class>controleur.ControleurCompteProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurLangue</servlet-name>
        <servlet-class>controleur.ControleurLangue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurIndex</servlet-name>
        <servlet-class>controleur.ControleurIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlleurPublier</servlet-name>
        <servlet-class>controleur.ControleurPublier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlleurUtilisateur</servlet-name>
        <servlet-class>controleur.ControlleurUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerUtilisateur</servlet-name>
        <servlet-class>controleur.CreerUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectUtilisateur</servlet-name>
        <servlet-class>controleur.ConnectUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlleurAfficher</servlet-name>
        <servlet-class>controleur.ControleurAfficher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurChercher</servlet-name>
        <servlet-class>controleur.ControleurChercher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurChercherResultat</servlet-name>
        <servlet-class>controleur.ControleurChercherResultat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurUploadFile</servlet-name>
        <servlet-class>controleur.ControleurUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurPanier</servlet-name>
        <servlet-class>controleur.ControleurPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controleur.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleurCompteProfile</servlet-name>
        <url-pattern>/ControleurCompteProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurLangue</servlet-name>
        <url-pattern>/ControleurLangue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurIndex</servlet-name>
        <url-pattern>/ControleurIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlleurPublier</servlet-name>
        <url-pattern>/ControlleurPublier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerUtilisateur</servlet-name>
        <url-pattern>/CreerUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectUtilisateur</servlet-name>
        <url-pattern>/ConnectUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlleurAfficher</servlet-name>
        <url-pattern>/ControlleurAfficher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurChercher</servlet-name>
        <url-pattern>/ControleurChercher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurChercherResultat</servlet-name>
        <url-pattern>/ControleurChercherResultat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurPanier</servlet-name>
        <url-pattern>/ControleurPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlleurUtilisateur</servlet-name>
        <url-pattern>/ControlleurUtilisateur</url-pattern>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurUploadFile</servlet-name>
        <url-pattern>/ControleurUploadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
